{%extends 'users/userbase.html'%}
{%load static%}

{%block contents%}
<div class="hero-wrap js-fullheight img" style="background-image: url({%static 'images/bg_1.jpg'%});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-center">
				<div class="col-md-10 d-flex align-items-center ftco-animate">
					<div class="text w-100 text-center">
						<span class="subheading mb-2">Neural networks are mainly used for classification,prediction and recognition!</span>
						<h1 class="mb-4">Deep learning has been used in a wide range of applications like computer vision, natural language processing and image detection. </h1>
						<p class="mb-4">Mesonet is a neural network designed specifically to detect deepfakes. Deepfakes videos are usually found all around social media, the nature of videos on social media platform like Instagram is that they are low quality compressed video so microscopic analysis based on image noise is not possible and MesoNet takes that into consideration, also detecting deepfake on at a higher semantic level is hard as even humans sometimes struggle with detecting deepfakes.</p>
					</div>
				</div>
			</div>
		</div>
	</div>


{%endblock%}
